.cart-and-ipay{
 display: flex;
 justify-content: flex-end;
 width: 100%;
 margin-top: 3rem;
}
.update-cart-product-global .btn .btn-primary{
    width: 40vw;


}

.col-8{
    max-width: none !important;
    flex: none !important;
}

.img-grid-patprimo{
    height: 20rem !important;
}