@import "base/cart";
@import "./variables";
@import "./commonMixins";
@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/mixins/breakpoints";
@import "~base/utilities/swatch";
@import "~base/components/categoryTiles";

.container-products-cart {
    overflow: scroll;
    height: 340px;
    overflow-x: auto;
}

.recommendations-carousel {

    margin: 0 calculaterem(-7.5px);

    @include media-breakpoint-up(sm) {
        margin: 0 calculaterem(-15px);
    }

    .slick-arrow {
        width: calculaterem(32px);
        height: calculaterem(36px);
        background-size: contain;
        z-index: 3;
        opacity: 0.5;
        position: absolute;
        display: block;
        height: 20px;
        width: 20px;
        line-height: 0px;
        font-size: 0px;
        cursor: pointer;
        background: transparent;
        color: transparent;
        top: 40%;
        transform: translate(0, -50%);
        padding: 0;
        border: none;
        outline: none;

    }

    .slick-arrow:hover {
        opacity: 0.25;
    }

    .slick-prev {
        left: calculaterem(7.5px);
        background: url("../images/icon-arrow-left.svg") no-repeat center center;
        // display: block !important;

        @include media-breakpoint-up(sm) {
            left: calculaterem(15px);
        }
    }

    .slick-next {
        right: calculaterem(7.5px);
        background: url("../images/icon-arrow-right.svg") no-repeat center center;
        // display: block !important;

        @include media-breakpoint-up(sm) {
            right: calculaterem(15px);
        }
    }
}

.cart-recommendations {
    margin: 3rem -15px !important;

    .heading {
        margin: 3rem 15px;
        font-weight: 700;
        font-size: calculaterem(30px);
    }

    @include media-breakpoint-up(md) {
        margin-left: 0;
        margin-right: 0;

        .heading {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .grid-container {
        background-color: $gray_100;
        padding: 0;
        overflow: hidden;
        width: 100%;
    }

    .slick-track {
        display: flex !important;
    }

    .slick-slide {
        padding: 0 8px;
        height: inherit !important;
        width: 100% !important;
    }

    .slick-list {
        margin-left: -$margin*2;
        margin-right: -$margin*2;
        position: relative;
        overflow: hidden;
        display: block;
        margin: 0;
        padding: 0;
    }

    .slick-dots {
        width: calc(100vw - 154px); // make room for 'videos'
        margin: 0 auto;
    }

    .slick-track {
        padding: 15px 0 40px; // This is to allow for the shadow to display without clipping.

        >*>* {
            margin: 0;
        }
    }

    .einstein-carousel:not(.slick-initialized) {
        display: flex;
        flex-wrap: wrap;
        overflow: auto;
    }

    .product {
        width: calc(40% - 15px);
    }

    .product-tile {
        margin-bottom: 0rem;
        box-sizing: border-box;
        border: 1px solid #e3e3e3;
        min-height: auto;
        height: calc(100% - 15px);
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        position: relative;

        &:focus-within,
        &:hover {
            border-color: $light-gray;
            box-shadow: 15px 15px 30px 0 rgba($black, 0.15);
        }
    }

    .slick-dots {
        bottom: -10px;
    }
}

.recommendations-wrapper {
    margin-top: calculaterem(43px);

    @include media-breakpoint-up(md) {
        margin-top: calculaterem(38px);
    }

    .recommendations__title {
        text-align: left;
        font-size: calculaterem(24px);
        font-weight: $font-weight-bold;
        margin-bottom: calculaterem(28px);

    }
}
.line-item-attributes-custom {
    margin-right: 27px;
}

.remove-btn-custom {
    position: absolute;
    bottom: 0;
    padding-left: 0;
    a {
        span{
            font-size: 14px;

        }
    }
}

.checkout-btn-custom {

    background-color: #1c1f2a;;
    color: $white!important;
}
.link-to-more-products {
    color: $black!important;
    text-decoration: underline;
}

.barra-envio-gratis {
    background-color: #e9ecef;
}

.imgCart {
    object-fit: cover;    
    height: 80px;
        width: 58px;    
}

.cartCard {
    border: none;
}

@media (min-width: 576px) { 
    .imgCart {
        height: 80px;
        width: 58px;
    }
    .cartCard {
        border: none;
    }
    .quantity {  
        text-align: center;
        font-size: 12px;
        height: 20px;
        max-width: 50px;
      }
      .custom-select {
        //height: 20px !important;
      }
 }
 @media (min-width: 768px) { 
    .imgCart {
        height: 80px;
        width: 58px;
    }
    .cartCard {
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.1875rem;
    }
    .quantity {  
        text-align: center;
        font-size: 13px;
        height: 25px;
        max-width: 50px;
      }
 }
 @media (min-width: 992px) {
    .imgCart {
        height: 122px;
        width: 87px;
    }
    .cartCard {
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.1875rem;
    }
    .quantity {  
        text-align: center;
        font-size: 13px;
        height: 25px;
        max-width: 50px;
      }
 }
 @media (min-width: 1200px) {
    .imgCart {
        height: 122px;
        width: 87px;
    }
    .cartCard {
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.1875rem;
    }
    .quantity {  
        text-align: center;
        font-size: 14px;
        height: 25px;
        max-width: 50px !important;
      }
 }

 .checkout-continue {
    position: fixed;
    bottom: 0;
    z-index: 1;
    padding-right: 0;
    padding-left: 0;

    @include media-breakpoint-down(xs) {
        box-shadow: none !important;
        position: inherit;
        div {
            padding: $spacer;
        }
    }

    @include media-breakpoint-up(sm) {
        position: static;
        padding-right: 0.938em;
        padding-left: 0.938em;
    }
}

.scrollbarPatprimo {
    //height: 500px;
  }
  
  
  /* Custom Scrollbar using CSS */
  .scrollbarPatprimo {
    overflow-y: scroll;
  }
  
  /* scrollbar width */
  .scrollbarPatprimo::-webkit-scrollbar {
    width: 5px;
  }
  
  /* scrollbar track */
  .scrollbarPatprimo::-webkit-scrollbar-track {
    background: #eee;
  }
  
  /* scrollbar handle */
  .scrollbarPatprimo::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #c0c0c0;
    background-image: linear-gradient(to top, #1c1f2a 0%, #181818 100%);
  }
  
  .cartProductEditButton:active {
    background-color:#1c1f2a;
    color: white;
}

.editModalHeader {
    background-color: #fff !important;
    border: none !important;
    
}

.modal-header {
    .editModalHeader {
        background-color: #fff !important;
        border: none !important;       
    }
}
.editProductModal {
    width: 676px;
    height: 311px;  
    border-radius: 5px;  
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);  
    background-color: #fff;
    border-bottom: none !important;        
    margin-bottom: -1vw;
    position: initial;
    left: 50%;
    
        .editModalHeader {
            background-color: #fff !important;
            border: none;
        }
        @include media-breakpoint-down(sm) {
            width: 350px;
    height: 311px;  
        }
  }

.product-tile .swatch-circle,
.product-tile-patprimo .swatch-circle {
  border: none;
  width: 1.2em;
  height: 1.2em;
  background: none;
  border-radius: 0.9em;
  display: inline-block;
  margin-right: 0.3em;
  position: relative;
}



$swatch-colors: (
    'black': $black,
    'blue': $blue,
    'brown': #a52a2a,
    'green': $green,
    'grey': #8f979d,
    'navy': #000080,
    'orange': #ffa500,
    'pink': #fe249a,
    'purple': #800080,
    'white': #fff,
    'yellow': #ff0,
    'azul': #1c34a9,
    'azulclaro': #3393ff,
    'aguamarina': #33e3ff,
    'azulmedio': #338dff,
    'azuloscuro': #0c1853,
    'azulpastel': #8ba4f2,
    'azulrey': #0b43f0,
    'celeste': #2ce0ef,
    'indigo': #233694,
    'amarillo': #f1ea0e,
    'amarillopastel': #faf561,
    'amarilloneon': #d2ff06,
    'mostaza': #eba10d,
    'beige': #f3bf56,
    'piel': #f9ce79,
    'marfil': #e1b050,
    'crema': #ead99a,
    'blanco': #ecebe7,
    'crudo': #f4f2e8,
    'hueso': #f1eddc,
    'avena': #f9eebf,
    'cafe': #bc8a4b,
    'camel': #c1883f,
    'cafeclaro': #d68e33,
    'cafeoscuro': #986a2f,
    'dorado': #db9f00,
    'oro': #f1b61a,
    'ororosa': #f5e8ac,
    'gris': #adaca5,
    'grisclaro': #d5d3c6,
    'grisoscuro': #a4a39d,
    'morado': #851bcf,
    'orquidea': #cc3fd5,
    'lila': #eb83f2,
    'lilapastel': #f7b4fb,
    'uva': #57075c,
    'purpura': #c77acc,
    'naranja': #fa8e0b,
    'mandarina': #e58920,
    'terracota': #da7b0e,
    'salmon': #f9a32f,
    'negro': #0a0704,
    'negrocarbon': #3b3631,
    'negrobinado': #6a5846,
    'plata': #cecece,
    'rosado': #ff9595,
    'rosa': #e59c9c,
    'rosapastel': #f5c1c1,
    'rosaclaro': #ffd1d1,
    'rosadoneon': #ff3fe8,
    'rosadoclaro': #ffc3c3,
    'paloderosa': #f9b1b1,
    'curuba': #f6ebb2,
    'coral': #f57ca8,
    'fucsia': #e11d7f,
    'verde': #36c21a,
    'esmeralda': #58a748,
    'verdeclaro': #6afd4c,
    'verdepastel': #94ff7e,
    'verdeoscuro': #1b6b0b,
    'verdeoliva': #39782c,
    'verdeneon': #2af700,
    'vino': #6b0f16,
    'rojo': #d51d2b,
    'cereza': #f50618,    
    'surtido': #3b83bd      
);

@each $color in map-keys($swatch-colors) {
    $colorValue: #{map-get($swatch-colors, $color)};

    .quick-view-dialog,
    .choose-bonus-product-dialog {
    .swatch-circle-edit-#{$color} {
        // $white will be replaced by color image background via Javascript
        @include swatch(1em, $colorValue);
        background: $colorValue !important;
        color: $colorValue;
        content: '\F00C';
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'FontAwesome';
        font-size: 1em;
        border-radius: 1em;
    }

    }
    a[disabled] .swatch-circle-edit-#{$color} {
        cursor: not-allowed;
    }
}



.quick-view-dialog,
.choose-bonus-product-dialog {
    max-width: 676px !important;
    max-height: 311px !important;
    border: none !important;
    background-color: #fff;

    .selectable-bonus-product-line-item {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
        padding-top: 0.3em;
        padding-bottom: 0.3em;
    }

    .beenSelected {
        background-color: $grey2;
    }

    .modal-header {
        background-color: #fff !important;
        border-bottom: none !important;
        border-top-left-radius: none !important;
        border-top-right-radius: none !important;

        .full-pdp-link {
            color: #{var(--skin-primary-color-1)};
        }

        .close {
            font-size: 2rem;
            line-height: 1.5rem;
        }
    }

    .modal-title {
        font-size: 1em;
    }

    .product-name {
        font-size: 1.875em;
    }

    a[disabled] .swatch-circle {
        cursor: not-allowed;
    }

    .availablity-container {
        text-align: right;
    }

    .availablity-container,
    .size-chart {
        margin-top: 0.938em;
    }

    .modal-content {
        border: 1px solid rgba(0, 0, 0, 0.2);
    }

    .modal-body {
        max-height: 28.125em; /* 450/16 */
        overflow-y: auto;
    }

    button.close {
        font-size: 1.25em;
    }

    .modal-footer {
        background-color: $white;
        border: none;
        border-bottom-right-radius: 0.1875rem;
        border-bottom-left-radius: 0.1875rem;

        .prices .price {
            font-size: 1.6em;
        }
    }

    .prices .sales {
        font-size: 1.5rem;
    }

    .promotions {
        text-align: left;
        color: $red;
    }

    .bonus-summary {
        @include media-breakpoint-down(sm) {
            font-size: 0.625em;
        }

        .bonus-product-name {
            @include media-breakpoint-down(sm) {
                padding: 0;
            }
        }
    }

    .pre-cart-products {
        margin-right: 0.125em;
    }

    .color-attribute {
        border: none;
        padding: 0;
        background: none;
    }

    .non-input-label {
        display: block;
        margin-bottom: 0.5rem;
    }
}

.cart-and-ipay{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 3rem;
   }
   
   .update-cart-product-global{
     background-color: #1c1f2a !important;
     width: 55%;
   
   }

.roundCorner7 {
    border-radius: 7px !important;
}

.btnEditCart {
    width: 247px;
    height: 40px;  
    margin: 2px 0 0 60px;  
    object-fit: contain;
    background-color: #1c1f2a;
    outline: none;
    box-shadow: none;
}
.btnEditCart:active, 
.btnEditCart:focus, 
.btnEditCart:active:focus,
.btnEditCart:active:hover {
    outline: none;
    box-shadow: none;
}

.truncateMiniCart {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

.productSizes {
    box-shadow: none;
}
.productSizes:focus {
    outline:none !important;
}

.imgEditProductCart {
    width: 161px;
    height: 227px;
}

.modalBodyEditProduct {
    max-height: 37em !important;
}


.recommendations-carousel-cart {

    margin: 0 calculaterem(-7.5px);

    @include media-breakpoint-up(sm) {
        margin: 0 calculaterem(-15px);
    }

    .slick-arrow {
        width: calculaterem(32px);
        height: calculaterem(36px);
        background-size: contain;
        z-index: 3;
        opacity: 0.5;
        position: absolute;
        display: block;
        height: 20px;
        width: 20px;
        line-height: 0px;
        font-size: 0px;
        cursor: pointer;
        background: transparent;
        color: transparent;
        top: 40%;
        transform: translate(0, -50%);
        padding: 0;
        border: none;
        outline: none;

    }

    .slick-arrow:hover {
        opacity: 0.25;
    }

    .slick-prev {
        left: calculaterem(7.5px);
        background: url("../images/icon-arrow-left.svg") no-repeat center center;
        // display: block !important;

        @include media-breakpoint-up(sm) {
            left: calculaterem(15px);
        }
    }

    .slick-next {
        right: calculaterem(7.5px);
        background: url("../images/icon-arrow-right.svg") no-repeat center center;
        // display: block !important;

        @include media-breakpoint-up(sm) {
            right: calculaterem(15px);
        }
    }
}

.optional-promo {
    color: #1c1f2a !important;
}

.inputPromoPat {
    border-color: #e9e9e9 !important;
    box-shadow: none !important;
    outline: none;
}

.btn-conocelonuevo {
    background-color: #1e253a !important;
    color: #fff !important;
    border-radius: 5px;
    height: 37px;
    border-color: transparent !important;
    min-width: 50px;
    box-shadow: none !important;
    outline: none;
    &:hover {
  
      color: #fff;
    }
  }
  .btn-conocelonuevo:focus {
    outline: none !important;
  }

  .btn-finalizarcompra {
    background-color: #1c1f2a !important;
    color: #fff !important;
    height: 55px;
    box-shadow: none !important;
    outline: none;
    &:hover {
  
      color: #fff;
    }
  }
  .btn-finalizarcompra:focus {
    outline: none !important;
  }

  .btn-finalizarcompraCart {
    background-color: #1c1f2a;
    color: #fff !important;
    height: 35px;
    box-shadow: none !important;
    outline: none;
    &:hover {
  
      color: #fff;
    }
    span {
      vertical-align: middle;
      font-weight: 500;
    }
    
  }

  .btn-finalizarcompraCart:focus {
    outline: none !important;
  }
  .btn-redimirCupon {
    height: 30px !important;
    border: none;
}

button.submit-form-global {
    object-fit: contain;    
    font-size: 13px;
    text-transform: uppercase;
    &:disabled {
        background-color: $grey4;
        border-color: $grey4;
    }

    @media (max-width: 769px) {
        width: 100% !important;
        margin-left: 0;
        font-size: 11px;
    }
}