@import "base/toastMessage";
@import "base/components/productCommon";

.custom_attr_price {
    text-align: left;
    margin-bottom: 5%;
}

.custom-price-total {
    text-align: center;
    margin-block: 10%;
}
