@import "base/checkout/checkout";
@import "custom/checkout/checkout";
@import "~base/variables";
@import "./variables";
@import "../stepsBar";
@import 'microtip/microtip';
@import 'base/cart';

$arrow-height: 1.25em; /* 20/16 */

.submit-form-global {
    background-color: $black;
    color: $white;
    
}

input[id="cb1"] + label {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 2px solid $red;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    left: -18px;
    top: 8px;
    }

.border-solid {
    border-top: 1px solid #DADADA;
    margin-top: 35px;
    margin-bottom: 53px; 
}

.border-complete {
    border: 1.5px solid #DADADA;
    height: 60px;
}

.section-shipping-radio {
    padding: 21px;
}

.section-product-summary-scroll {
    overflow: auto;
    overflow-x: hidden;
    height: 240px;
}

.btn-default-pat-primo {
    background-color: black;
    color: white;
    height: 34px;
}

.product-line-item-details {
    .line-item-header {
        .line-item-name {
            white-space: initial;
        }
    }
}

.tooltip {
    position: absolute;
    bottom: 100%;
    padding: 0.312rem;
    border-radius: $border-radius;
    background-color: $grey6;
    color: $white;
    font-size: 0.928rem;
    min-width: 20rem;
    max-width: 15rem;
    transform: translate(-50%, -$arrow-height/2);
    left: 50%;
    margin-left: 4px;
    animation: fade-in 0.5s linear forwards;

    @keyframes fade-in {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }

    &::before {
        content: " ";
        position: absolute;
        display: block;
        height: $arrow-height; /* 20/16 */
        left: 0;
        bottom: -$arrow-height;
        width: 100%;
    }

    &::after {
        border-left: solid transparent $arrow-height/2; /* 10/16 */
        border-right: solid transparent $arrow-height/2; /* 10/16 */
        border-top: solid $grey6 $arrow-height/2;
        bottom: -$arrow-height/2;
        content: " ";
        height: 0;
        left: 50%;
        margin-left: -13px;
        position: absolute;
        width: 0;
    }
}
.info-pago-contra-entrega {
    position: relative;
    cursor: pointer;
    border: none;
    background: inherit;
}

.data-checkout-stage {
    // Initial states ------------------------
    &[data-checkout-stage] {
        .card.payment-summary,
        .shipping-summary {
            display: none;
        }

        button.place-order {
            display: none;
        }

        button.submit-payment {
            display: none;
        }

        button.submit-shipping {
            display: none;
        }
    }

    // Customer ------------------------------
    &[data-checkout-stage=customer] {
        .card.ghost.customer {
            display: none;
        }

        #datosContacto {
            display: block;
        }

        #shippingFormPatPrimo {
            display: none;
        }

        #shippingMethods {
            display: none;
        }

        .card.customer-summary {
            display: none;
        }

        button.submit-shipping {
            display: none!important;
        } 

        .card.shipping-section {
            display: none;
        }

        .card.payment-form {
            display: none;
        }

        button.submit-customer {
            display: block;
        }

        #contentAddress {
            display: none;
        }

        #step-ship-bar {
            background-color: #F7F7F7;
        }
    }

    // Shipping ------------------------------
    &[data-checkout-stage=shipping] {
        .card.customer-section {
            display: none;
        }
        #customerNotRegister {
            display: none;
        }
        #contentAddress {
            display: block;
        }

        button.submit-customer {
            display: none;
        }

        .card.ghost.customer {
            display: none;
        }

        .card.ghost {
            display: none;
        }

        &.multi-ship .order-product-summary {
            display: none;
        }

        .card.payment-form {
            display: none;
        }

        button.submit-shipping {
            display: block;
        } 

        .shipment-selector-block {
            .btn-show-details,
            .btn-add-new {
                border: none;
            }
        }
        #formIdentificate {
            display: none;
        }

        [data-address-mode=customer] {
            .shipping-address-block {
                display: none;
            }
        }

        [data-address-mode=shipment] {
            .shipping-address-form {
                display: none;
            }
        }

        [data-address-mode=edit] {
            .shipping-address-block {
                display: none;
            }
        }

        [data-address-mode=new] {
            .btn-show-details,
            .btn-add-new {
                display: none;
            }
        }

        #step-ship-bar {
            background-color: #eae4d8;
            font-family: $font-RedHat-Bold;
            .txt-step {
                color: #1c1f2a !important;
                font-weight: bold;
            }
        }

        #step-customer-bar {
          background-color: #737373
        }

        #datosContacto {
            display: none;
        }
    }

    // Payment -------------------------------
    &[data-checkout-stage=payment] {
        button.submit-customer {
            display: none;
        }

        #customerNotRegister {
            display: none;
        }
        
        .customer-section,
        .shipping-section,
        .card.ghost {
            display: none;
        }

        .card.payment-form {
            display: block;
        }

        .shipping-summary {
            display: none;
        }

        #step-pay-bar {
            background-color: #737373  
        }

        button.submit-payment {
            display: block;
        }

        .address-selector-block {
            .btn-show-details,
            .btn-add-new {
                border: none;
            }
        }

        [data-address-mode=customer] {
            .billing-address {
                display: none;
            }
        }

        [data-address-mode=shipment] {
            .billing-address {
                display: none;
            }
        }

        [data-address-mode=edit] {
            .billing-address {
                display: none;
            }
        }

        [data-address-mode=new] {
            .btn-show-details,
            .btn-add-new {
                display: none;
            }
        }

        [data-address-mode=details] {
            .btn-show-details,
            .btn-add-new {
                display: none;
            }
        }

        #contentAddress {
            display: none;
        }

        #step-ship-bar {
            background-color: #737373
        }

        #step-customer-bar {
          background-color: #737373
      }
        
      #formIdentificate {
          display: none;
      }


      button.submit-shipping {
          display: none!important;
      }
      button.submit-payment {
        display: block!important;
      }
    }

    // Place Order -----------------------------
    &[data-checkout-stage=placeOrder] {
        button.submit-customer,
        .customer-section,
        .shipping-section,
        .card.payment-form,
        .card.ghost {
            display: none;
        }

        .card.payment-summary,
        .shipping-summary {
            display: none;
        }

        button.place-order {
            display: none;
        }
        #contentAddress {
            display: none;
        }
    }

    &[data-checkout-stage=submitted] {
        .shipping-form,
        .card.payment-form,
        button.submit-customer,
        .card.ghost {
            display: none;
        }

        .summary-section-label.shipping-addr-label {
            display: none;
        }

        .card.payment-summary,
        .shipping-summary {
            display: none;
        }

        button.place-order {
            display: none;
        }
    }

    option[value=new] {
        display: none;
    }

    h5 > span {
        font-size: 0.8em;
    }
}
.msj-error {
    color: $red;
}
// remove arrows numbers input (bootstrap)
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] { -moz-appearance:textfield; }